<%= flash[:notice] %>
<% @companies = Prospect.all.group_by { |prospect| prospect.company } %>
<% @companies.each do |key, value| %>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= key %>" aria-expanded="true" aria-controls="<%= key %>">
          <%= key %>
        </a>
      </h4>
    </div>
    <div id="<%= key %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="<%= key %>">
        <div class="list-group">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <!--<th>Id</th>-->
                <th>Name</th>
                <th>Email</th>
                <th>LinkedIn</th>
                <th>Company</th>
              </tr>
            </thead>
            <tbody>
              <% @companies[key].each do |prospect| %>
                <tr>
                  <!--<td><%= prospect.id %></td>-->
                  <td><%= prospect.name %></td>
                  <td><%= prospect.email %></td>
                  <td><%= prospect.linkedin %></td>
                  <td><%= prospect.company %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>













